html, body{
	font-family: sans-serif;
	border: 0px
}

header{
	background-color:#002266;
	padding: 50px 20px;
}

h1{ 
	font-style: 150px;
	color:white;
}

header img{
	border-radius: 150px
	width: 300px;
	border: 10px solid #b30000
}

/*<header>
		<img src="img/profile.jpg">
		<h1>Whybee</h1>
	/*</header>*/